<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <link href={Routes.static_path(@conn, "/assets/payroll.css")} />
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Payroll Calculator</title>

  <script src="https://cdn.tailwindcss.com"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
